<div class="row">
	<div class="hero-unit">
		<h1>Blasécamp</h1>
		<p>Use it, or don't. Whatever.</p>
	
	<div >
	<%= link_to new_user_registration_path do %>
		<button class="btn btn-primary btn-large">
		  Sign up
		</button>
	<% end %>
	</div>



	</div>


</div>