
<div class="hero-unit">
	<h1>Basecamp Clone</h1>
	<p>Because the original wasn't good enough</p>
</div>

<div class='span2'>
<%= link_to new_user_registration_path do %>
	<button class="btn btn-primary btn-large">
	  Sign up
	</button>
<% end %>
</div>

<div class='span2'>
<%= link_to new_user_session_path do %>
	<button class="btn btn-primary btn-large">
	  Sign in
	</button>
<% end %>
</div>