
<div class="hero-unit">
	<h1>Blasecamp</h1>
	<p>Use it, or don't. Whatever.</p>
</div>

<div class='span2'>
<%= link_to new_user_registration_path do %>
	<button class="btn btn-primary btn-large">
	  Sign up
	</button>
<% end %>
</div>

<div class='span2'>
<%= link_to new_user_session_path do %>
	<button class="btn btn-primary btn-large">
	  Sign in
	</button>
<% end %>
</div>